



@media (max-width: 600px) and (min-width: 320px){
    .level__inner_right .level__inner_text{
        max-width: 90%;
    }
    .component__inner_item{
        width: 300px;
    }
    .position-block .position__inner_left .position__inner_text h2{
        font-size: 30px;
    }
    .main__inner_subtitle{
        h1{
            font-size: 90px;
            line-height: 90px;
        }
        p{
            font-size: 18px;
        }
        ul{
           font-size: 14px; 
        }
    }
    .main__inner_suptitle{
        h2{
            font-size: 50px;
        }
        p{
            font-size: 18px;
        }
    }
    .component__inner_item{
        margin-right: 0;
    }
    .command__inner_left .command__inner_bio a{
        width: 200px;
    }
    .contact__inner{
        flex-direction: column;
    }
    .contact__inner_left{
        width: 100%;
    }
}

@media (max-width: 450px) and (min-width: 320px){
    .project__inner .slick-next{
        right: -15px;
    }
    .main__inner_subtitle{
        top: 60%;
    }
    .project{
        padding: 60px 0;
    }
    .project__inner .project__slide_left img {
        max-width: 250px;
        height: 70px;
    }
    h2, h4, h5{
        font-size: 25px !important;
        line-height: 31px !important;
    }
    .main__inner_subtitle{
        h1{
            font-size: 40px;
        }
        ul{
            font-size: 8px;
        }
    }
    .position-block .position__inner_left .position__inner_text h2{
        font-size: 25px;
    }
    .command__inner_right .command__inner_text h2{
        font-size: 30px;
    }
    .component{
        h2{
            font-size: 30px; 
        }
        &__inner{
            &_item{
                width: 170px;
            }
        }
    }
    .contact__inner_right .select__content{
        width: 280px;
    }
    
    .main__inner_suptitle{
        display: none;
    }
}



@media (max-width: 767px) and (min-width: 320px){
    .main__inner_suptitle{
        display: none;
    }
    .main__inner_subtitle ul{
        flex-direction: column;
        margin-top: 30px;
        li{
            margin-bottom: 10px;
        }
    }
    .clients__inner_left{
        svg{
            max-width: 100%;
            height: auto;
        }
    }
    .license .multiple-items .slick-list{
        max-width: 65%;
    }
    .position-block .position__inner{
        padding: 100px 0;
        &_left{
            margin-bottom: 50px;
        }
    }
    .project__inner .project__slide_left{
        margin: auto;
        margin-bottom: 40px;
    }
    .project__slide{
        display: flex;
        flex-direction: column;
        &_right{
            margin: auto;
            max-width: 65%;
        }
    }
    .level__inner{
        padding: 100px 0;
        &_left {
            margin-bottom: 50px;
            img{
                max-width: 100%;
            }
        }
    }
    .command{
        &__inner_left{
            margin-bottom: 50px;
            img{
                max-width: 100%;
            }
        }
    }
    .component{
        padding: 100px 0;
    }
    .contact{
        padding-bottom: 100px;
        &__inner_left{
            margin-bottom: 50px;
        }
        .select__form_phone{
            margin-bottom: 20px;
        }
        
    }
    
}


@media (max-width: 767px) { 
    .navbar-menu__right{
        flex-direction: column;
    }
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
}

@media (max-width: 1270px) and (min-width: 767px){
    .main__inner_suptitle{
        display: none;
    }
    .main__inner_subtitle ul{
        flex-direction: column;
        margin-top: 30px;
        li{
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 1440px) and (min-width: 767px){
    .navbar-menu__right{
        .btn{
            padding: 14px 11px;
            font-size: 14px;
        }
        p, a{
            font-size: 14px !important;
        }
        .phone__nemu{
            margin-right: 20px;
        }
    }
    .nav-item{
        margin-left: 12px !important;
        .nav-link{
            font-size: 14px;
        }
    }
    .command__inner{
        padding: 80px 145px;
    }
    .component__inner_item{
        width: 340px;
    }
    .contact__inner_right .select__content_item .select__form{
        max-width: 320px;
    }
    .select__form{
        flex-direction: column;
        .btn{
            margin-top: 30px;
            max-width: 191px;
        }
    }
}

@media (max-width: 1120px) and (min-width: 767px){
    .navbar-menu__right{
        .btn{
            padding: 14px 11px;
            font-size: 14px;
        }
        p, a{
            font-size: 12px !important;
        }
        .phone__nemu{
            margin-right: 15px;
        }
    }
    .nav-item{
        margin-left: 12px !important;
        .nav-link{
            font-size: 12px;
        }
    }
}

@media (max-width: 1350px) and (min-width: 767px){
    .contact{
        padding: 50px 15px;
    }
    .contact__inner_right{
        margin-left: 30px;
    }
    .nav-link{
        font-size: 12px;
    }
    .navbar-menu__right .phone__nemu a{
            font-size: 14px;
    }
    .clients__inner_left{
        svg{
            max-width: 100%;
            height: auto;
        }
    }
    .contact__inner_right .select__content{
        max-width: 100%;
        .select__form{
            justify-content: space-between;
        }
    }
}
@media (max-width: 1140px) { 
    .contact__inner{
        flex-direction: column;
    }
    .contact__inner_left{
        width: 100%;
    }
}
@media (max-width: 1000px){
    
    .clients__inner{
        flex-direction: column-reverse;
    }
    .contact__inner_right {
        .contact__inner_option{
            margin-left: 0;
        }
        .select__content{
            margin-left: 0;
        }
    }
    .contact__inner_right .select__content_item .select__form{
        display: inline;
    }
    .command__inner_right .command__inner_text{
        margin-left: 0;
    }
}

@media (max-width: 460px) and (min-width: 360px){
    .component__inner_item{
        width: 230px;
    }
}